# Exclude unnecessary files from Docker build
target/
*.log
*.tmp
*.swp
*.bak
.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml
.git/
.gitignore
README.md
HELP.md
mvnw
mvnw.cmd
.mvn/
studentdb.mv.db
studentdb.trace.db